body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

/* Bagian Judul */


/* Bagian Header */
.atas h1{
 font-size:50px;   
 letter-spacing: 5px;
 margin-bottom: 10px;
 text-align:center;
}

.atas p{
 font-size:20px;
}

.kotak{
 width: 1170px;   
}

/* Bagian Isi Pertama */


/* Bagian Isi Kedua */



/* Bagian Footer */


