body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

/* Bagian Judul */
.judul {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
}

.judul span {
  font-size:20px;
  color:white;
}

.judul-kiri {
  width: 124px;
  padding-top: 20px;
  float: left;
}

/* Bagian Header */
.bagian-atas{
 padding: 180px 0 100px 0; 
  background-image: url(foto-view.jpg);
  background-size: cover;
  color: blue; 
 text-align:center; 
}

.bagian-atas h1{
 font-size:50px;   
 letter-spacing: 5px;
 margin-bottom: 10px;
}

.bagian-atas p{
 font-size:20px;
}

.kotak{
 width: 1170px;   
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Isi Pertama */


/* Bagian Isi Kedua */



/* Bagian Footer */


