body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

/* Bagian Judul */


/* Bagian Header */
h1{
 font-size:30px;   
}

p{
 font-size:20px;
}

/* Bagian Isi Pertama */


/* Bagian Isi Kedua */



/* Bagian Footer */


